{% extends "todo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="width: 35%;">
    <h5>Log in or Register for best experience</h5>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Register</button>
        </div>
    </form>
</div>


{% endblock content %}
