{% extends "todo/base.html" %}
{% block content %}

{% if tasks %}

<div class="container" style="width: 100%;margin: auto;">
    <table style="margin: auto;width: 65%;">
        <tr>
            <th></th>
            <th style="width:60%">Task</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for task in tasks %}

        <tr style="border-bottom: 1px solid white;">
            <td style="padding: 10px;">
                {% if task.completed %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill"
                    viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"></circle>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill"
                    viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"></circle>
                </svg>
                {% endif %}

            </td>
            <td style="padding: 15px;">
                {% if task.completed %}
                <h4><s>{{ task.title }}</s></h4>
                
                {% else %}
                <h4>{{ task.title }}</h4>
                
                {% endif %}

            </td>
            <td>
                {{ task.date|date:"d F" }}
            </td>



            <td>
                <a href="{% url 'update' task.id %}"><button type="button" class="btn btn-primary" height="5"
                        style="width: 85px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" fill="currentColor" class="bi bi-arrow-right"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                            </path>
                        </svg>
                    </button></a>
                <a href="{% url 'delete' task.id %}"><button type="button" class="btn btn-danger" style="width: 60px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-backspace-fill" viewBox="0 0 16 16">
                            <path
                                d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z">
                            </path>
                        </svg>
                    </button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div>
    <h5>No tasks left</h5>
</div>
{% endif %}

{% endblock content %}