{% extends "todo/base.html" %}
{% block content %}
        
<div class="container" style="width: 35%;">
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post "{{ object.title }}"  ? :(</legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete It!!</button>
            <a class="btn btn-outline-info" href="{% url 'profile' %}">Noooooooo!!</a>
        </div>
    </form>
</div>



{% endblock content %}